.git
.env
.venv
**/__pycache__
**/*.py[cod]
**/.coverage
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
backend/.secret-key
backend/*.sqlite3*
frontend/.astro
frontend/dist
frontend/node_modules
node_modules
prototypes
*.md
!backend/README.md
